@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #333;
  background: #f8f9fa;
}

h1, h2, h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

a {
  text-decoration: none;
}